.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  transition: all ease .3s;

  &.highlight {
    box-shadow: 0 0 0 1rem $blue;
  }
}
